@charset "utf-8";

/* RESET STYLES */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* GENERAL STYLES */
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
  line-height: 1.5;
  background: var(--pale-blue) url('../images/pattern-background-mobile.svg') no-repeat;
}

* { box-sizing: inherit; }

img { width: 100%; }



/* ORDER COMPONENT */
.order-component {
  max-width: 28.125rem;
  margin: 4.5rem 1.5rem 3.5rem;
  border-radius: 1.2rem;
  background-color: #fff;
  box-shadow: 1px 10px 30px -20px var(--desaturated-blue);
}

.order-component img {
  border-radius: 1.2rem 1.2rem 0 0;
}

.content {
  padding: 1.5rem;
  padding-bottom: .5rem;
  border-radius: 0 0 1.2rem 1.2rem;
}

h1 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 900;
  text-align: center;
  color: var(--dark-blue);
}

p {
  max-width: 20rem;
  text-align: center;
  margin: 1rem auto;
  color: var(--desaturated-blue);
}

.order-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 20rem;
  margin: 1.5rem auto;
  padding: 1rem;
  background-color: var(--very-pale-blue);
  border-radius: .75rem;
}

.music-icon {
  height: 3rem;
  width: 3rem;
}

.order-plan {
  flex-grow: 1;
  font-size: .875rem;
}

.plan-type {
  color: var(--dark-blue);
  font-weight: 700;
}

.price {
  color: var(--desaturated-blue);
}

.order-info a {
  font-weight: bold;
  font-size: .75rem;
  color: var(--bright-blue);
}

.order-info a:active {
  text-decoration: none;
  color: var(--desaturated-blue);
}

button {
  display: block;
  width: 100%;
  margin-top: .5rem;
  padding: 1rem;
  border: none;
  border-radius: .75rem;
  background-color: inherit;
  font-size: .875rem;
  font-weight: bold;
  font-family: inherit;
}

button.primary {
  background-color: var(--bright-blue);
  color: #fff;
  box-shadow: 0 16px 32px -16px var(--bright-blue);
}

button.primary:active {
  background-color: #766cf1;
}

button.secondary {
  color: var(--desaturated-blue);
  font-weight: 900;
}

button.secondary:active { color: var(--dark-blue); }

.attribution {
  margin-bottom: 1rem;
  font-size: .875rem;
  text-align: center; 
}

.attribution a {
  color: hsl(228, 45%, 44%);
}



@media screen and (min-width: 30rem) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
  }

  .order-component {
    margin: 6rem auto;
  }

  h1 { font-size: 1.7rem; }
}